<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md">
      <h1 class="text-center text-lg font-bold text-gray-500">Login</h1>
      <div class="space-y-4 mt-6">
        <div class="w-full">
          <%= f.text_field :email,
            required: true,
            autofocus: true,
            class: "px-4 py-2 bg-gray-50",
            placeholder: 'Email'
          %>
        </div>
        <div class="w-full">
          <%= f.password_field :password,
            required: true,
            autofocus: true,
            class: "px-4 py-2 bg-gray-50",
            placeholder: 'Password'
          %>
        </div>
      </div>
      <%= f.button :submit, "Sign In", class: "w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight" %>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
