<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <form method="GET" class="flex flex-col items-center">
    <div>
      <%= render(DropdownComponent.new(id_name: 'departure_code', title: 'Departure')) %>
      <%= render(DropdownComponent.new(id_name: 'arrival_code', title: 'Arrival')) %>
      <%= render(DropdownComponent.new(id_name: 'num_tickets', title: 'Passenger')) %>
    </div>
    <div id="date" class="flex flex-row flex-wrap items-center w-1/2">
      <%= render(DropdownComponent.new(id_name: 'day', title: 'Day')) %>
      <%= render(DropdownComponent.new(id_name: 'month', title: 'Month')) %>
      <%= render(DropdownComponent.new(id_name: 'year', title: 'Year')) %>
    </div>
    <button class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-thin">Search</button>
  </form>

  <div id="flights" class="min-w-full">
    <%= render @flights %>
  </div> 
</div>
